version: "3.9"

services:
  auth:
    build:
      context: .
      dockerfile: services/auth/Dockerfile
    container_name: auth
    restart: always
    environment:
      AUTH_DATABASE_URL: "${AUTH_DATABASE_URL}"
      RUST_LOG: "info"
    ports:
      - "${AUTH_SERVICE_PORT}:8000"
    networks:
      - backend

  post:
    build:
      context: .
      dockerfile: services/post/Dockerfile
    container_name: post
    restart: always
    environment:
      POST_DATABASE_URL: "${POST_DATABASE_URL}"
      RUST_LOG: "info"
    ports:
      - "${POST_SERVICE_PORT}:8000"
    networks:
      - backend

networks:
  backend:
