services:
  auth:
    build:
      context: .
      dockerfile: services/auth/Dockerfile
    container_name: auth
    restart: always
    environment:
      AUTH_DATABASE_URL: "${AUTH_DATABASE_URL}"
      PORT: 8080

  post:
    build:
      context: .
      dockerfile: services/post/Dockerfile
    container_name: post
    restart: always
    environment:
      POST_DATABASE_URL: "${POST_DATABASE_URL}"
      PORT: 8080

  gateway:
    build:
      context: .
      dockerfile: services/gateway/Dockerfile
    container_name: gateway
    restart: always
    environment:
      PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      - auth
      - post